@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --wgrd-red: #e81410;
  --text-color: #212529;
  --bg-color: #f8f9fa;
  --table-border: #dee2e6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}
